<?xml version="1.0"?>
<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2022 Tigren Solutions <https://www.tigren.com>.All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tigren_CustomerGroup::Parent"
             title="Customer Discount"
             module="Tigren_CustomerGroup"
             sortOrder="10"
             resource="Magento_Backend::admin" />
        <add id="Tigren_CustomerGroup::DiscountManagement"
             title="Customer Discount Management"
             module="Tigren_CustomerGroup"
             action="discount_admin/discount/view"
             sortOrder="10"
             parent="Tigren_CustomerGroup::Parent"
             resource="Magento_Backend::admin" />
    </menu>
</config>
