<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  @author  Tigren Solutions <info@tigren.com>
  ~   @copyright Copyright (c) 2022 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~  @license  Open Software License (“OSL”) v. 3.0
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tigren_SimpleBlog::tigren_menu" title="Tigren Menu" module="Tigren_SimpleBlog" sortOrder="20"
             resource="Tigren_SimpleBlog::blog"/>
        <add id="Tigren_SimpleBlog::tigren_posts" title="Tigren Posts" module="Tigren_SimpleBlog" sortOrder="1"
             parent="Tigren_SimpleBlog::tigren_menu" action="tigrentech/posts/index"
             resource="Tigren_SimpleBlog::posts"/>
    </menu>
</config>
