<?xml version="1.0"?>
<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2022 Tigren Solutions <https://www.tigren.com>.All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tigren_BlogManager::blogmanager" translate="title" title="Blog Management" module="Tigren_BlogManager" sortOrder="10" resource="Tigren_BlogManager::blogmanager" />

        <add id="Tigren_BlogManager::manage" translate="title" title="Manage" module="Tigren_BlogManager" sortOrder="10" resource="Tigren_BlogManager::manage" parent="Tigren_BlogManager::blogmanager" action="blogmanager/manage/index" />
    </menu>
</config>
